@CHARSET "UTF-8";

.main_panel {
    position: relative;
}

.row {
    padding: 3rem 5%;
}

input[name=dormName] {
    width: 100%;
    padding: 2rem 1rem;
}

.inout_form input {
    width: 70%;
    padding: 2rem 1rem;
    margin-left: 5rem;
}

.update_form input {
    width: 70%;
    padding: 2rem 1rem;
    margin-left: 5rem;
}

.dorm_info_data {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fafafa;
}

.suit_button_menu {
    transform: scale(0.8) translate(9rem, 3rem);
}

.suit_button_menu .menu_item {
    background: #55c868;
}

.info_item {
    padding: 1rem 2rem;
}

.message_tag {
    position: absolute;
    right: 0;
    left: 0;
    top: -6rem;
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 0.8rem;
    background: url(../images/message.png) 0 0/cover;
    /* animation: shake 0.6s ease infinite; */
}

.msg_num_dorm, .msg_num_person {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    right: -0.6rem;
    top: 0rem;
    background: red;
    border-radius: 2rem;
    text-align: center;
    line-height: 2.4rem;
    font-size: 2.2rem;
    color: #fff;
}

.sender {
    color: blue;
    margin-left: 1rem;
}

.message_item > div {
    display: inline-block;
}

.sender {
    width: 60%;
}

.options {
    width: 30%;
    text-align: right;
}

.acceptJoin, .refuseJoin {
    display: inline-block;
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    margin-left: 0.6rem;
}

.partner {
    display: inline-block;
    color: blue;
}

.msg_button {
    width: 100%;
}

.list_item {
    display: block;
    padding: 2rem;
    background: #fcfcfc;
    border-bottom: 0.1rem solid #ccc;
    font-size: 2.5rem;
}

.outcome {
    color: #2DD717;
}

.income {
    color: #FF501D;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0,0.6rem);
    }

    100% {
        -webkit-transform: translate(0,0);
    }
}