/*base style*/
html {
    box-sizing: border-box;
    height: 100%;
    font-family: Microsoft YaHei,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #666;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

select {
    position: relative;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select.white-input {
    background: url(../images/triangle-down.png) 258px 15px no-repeat;
}

body {
    padding: 0;
    margin: 0;
    color: #0a2535;
    font-family: "HelveticaRounded", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 32px;
    font-weight: normal;
}

p.h1 {
    font-size: 20px;
}

div, span, a, p, a, label, input {

}

input, select {
    border: none;
    outline: none;
    background-color: transparent;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
}

/*base layout*/
.text-center {
    text-align: center;
}

.vertical-center > * {
    display: inline-block;
    vertical-align: middle;
}

.text-right {
    text-align: right;
}

.bold {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    font-family: "GothamPro", sans-serif;

}

.section-v2 .row {
    position: relative;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
}

/*check box&radio box*/
.check-box {
    position: relative;
}

.check-box-item {
    margin: 8px 0;
}

.check-box-item > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 1px solid #0a69a3;
    cursor: pointer;
}

.check-box-checked > span {
    border-color: #FFD30B;
}

.check-box-checked > span:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #FFD30B;
}

.check-box-item > p {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
    padding-left: 4px;
}

.check-box .info {
    opacity: 0;
    position: absolute;
    background-color: #fafbfb;
    border: solid 1px rgba(153, 153, 153, 0.3);
    width: 178px;
    min-height: 120px;
    padding: 10px 15px 12px 15px;
    text-align: left;
    border-radius: 7px;
    left: 116px;
    bottom: -10px;
    font-size: 12px;
    line-height: 1.5;
    color: #999999;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

.check-box .info-fixed {
    height: auto;
}

.check-box .info:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -6px;
    bottom: 76px;
    background: #fafbfb;
    border-left: 1px solid rgba(153, 153, 153, 0.3);
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.info-fixed:before {
    bottom: 120px !important;
}

.check-box .info > ul {
    display: none;
}

.check-box .info[num="0"] > .info-1 {
    display: block;
}

.check-box .info[num="1"] > .info-2 {
    display: block;
}

.check-box .info[num="2"] > .info-3 {
    display: block;
}

.check-box .info[num="1"]:before {
    bottom: 43px;
}

.check-box .info[num="2"]:before {
    bottom: 13px;
}

.check-box .info li{
    padding-left: 10px;
    margin-bottom: 8px;
    position: relative;
}

.check-box .info li:before{
    content: '';
    display: block;
    padding: 2px;
    background-color: #0a69a3;
    position: absolute;
    left: 0;
    top: 7px;
    border-radius: 50%;
}


.muti-box {
    position: relative;
}

.muti-box-item {
    margin: 8px 0;
}

.muti-box-item > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 1px solid #0a69a3;
    cursor: pointer;
}

.muti-box-checked > span {
    border-color: #FFD30B;
    background: url(../images/checkbox.png);
    background-size: cover;
}



.muti-box-item > p {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
    padding-left: 4px;
}

/*button*/
.gray_button {
    display: inline-block;
    background-color: #026cbe;
    color: #fff;
    border-radius: 13px;
    padding: 14px 20px;
    line-height: 1.4;
    font-size: 15px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1) inset;
    position: relative;
    margin-bottom: 15px;
    font-family: "GothamPro", sans-serif;
    font-weight: 500;
}

.gray_button:focus {
    background-color: #025cae;
}

.white-input {
    display: inline-block;
    background-color: #026cbe;
    color: #fff;
    border-radius: 13px;
    padding: 14px 20px;
    line-height: 1.4;
    font-size: 15px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1) inset;
    position: relative;
    font-family: "GothamPro", sans-serif;
    font-weight: 500;
    font-family: Arial, sans-serif;
    padding: 16px 18px;
    background-color: transparent;
    border: solid 1px #0a69a3;
    font-size: 16px;
    line-height: 1.3;
    color: #0a2535;
    height: auto;
    border-radius: 5px;
}

.white-input-error{
    border-color: red !important;
    background: #FFF2F2 !important;
}

select.gray_button:after {
    content: "";
    background: #ffd30b;
    width: 1px;
    height: 1px;
    border-top: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

/*form*/
.form-panel {
    padding: 20px 10px;
    background: #fff;
    color: #0a2535;
    -webkit-transition: .6s ease-out -webkit-transform, .4s ease-out background-color;
    -webkit-transition: .6s ease-out transform, .4s ease-out background-color;
    transition: .6s ease-out transform, .4s ease background-color;
    width: 320px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.form-item {
    margin-bottom: 20px;
}

.form-item > select, .form-item > input, .form-item > textarea, .form-item > div {
    width: 100%;
}

.form-panel.show {
    display: inline-block;
    background: #fff;
}

.form-panel.active .info-fixed {
    opacity: 1;
}

.form-panel.active {
    display: inline-block;
    background: #F2F9FF;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.form-item > * {
    display: block;

}

.form-item label {
    font-size: 14px;
    color: #999;
    margin-bottom: 4px;
}

.form-item > textarea {
    min-height: 100px;
    resize: none;
}

.form-panel .form-number-choose {
    width: 182px;
    height: 52px;
    padding: 0;
    position: relative;
}

.form-number-choose > * {
    display: block;
    float: left;
}

.form-number-choose > input {
    width: 80px;
    height: 100%;
    padding: 16px;
    border-left: solid 1px #0a69a3;
    border-right: solid 1px #0a69a3;
    text-align: center;
    font-size: 16px;
}

.form-number-choose > .deduct {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.form-number-choose > .add {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.form-number-choose > .add:hover {
    background: rgba(0, 0, 0, .1);
}

.form-number-choose > .deduct:hover {
    background: rgba(0, 0, 0, .1);
}

.form-number-choose > .deduct:before {
    content: "";
    display: block;
    width: 26px;
    height: 2px;
    background-color: #0a69a3;
    margin: 24px auto;
}

.form-number-choose > .add:before {
    content: "";
    display: block;
    width: 26px;
    height: 2px;
    background-color: #0a69a3;
    margin: 24px auto;
}

.form-number-choose > .add:after {
    content: "";
    display: block;
    width: 2px;
    height: 26px;
    background-color: #0a69a3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.error-box {
    position: absolute;
    top: 56px;
    color: red;
    display: block;
    left: 0;
    width: 300px;
    font-size: 14px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #ccc;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1;
}

textarea:-ms-input-placeholder {
    color: #ccc;
    opacity: 1;
}

textarea::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1;
}

.orange_button {
    display: inline-block;
    background-color: #ffd30b;
    color: #0f80de;
    border-radius: 8px;
    padding: 14px 28px;
    line-height: 1.4;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
}

.blue_button {
    margin-top:20px;
    display: inline-block;
    background-color: #03c1ff;
    text-align: center;
    border-radius: 6px;
    padding: 14px 20px;
    line-height: 1.4;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    /*box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);*/
}

.blue_button:hover{
    background: #03a1ff;
}

.orange_button:hover {
    background-color: #f2c30b;
    box-shadow: 0 3px 7px 0 rgba(10, 58, 150, 0.5);
}

.loading {
    display: inline-block;
    margin-top: 10px;
    padding: 0;
    height: 30px;
    width: 30px;
    animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -ms-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}

/*top panel*/
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .4);
    animation: .3s mask-fade-in ease-out;
    -webkit-animation: .3s mask-fade-in ease-out;
    -moz-animation: .3s mask-fade-in ease-out;
    -o-animation: .3s mask-fade-in ease-out;
}

.pop-panel {
    width: 390px;
    min-height: 260px;
    margin: 30px auto;
    background: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    animation: .3s panel-fade-in ease-out;
    -webkit-animation: .3s panel-fade-in ease-out;
    -moz-animation: .3s panel-fade-in ease-out;
    -o-animation: .3s panel-fade-in ease-out;
    /*transform: translate(0, -100px);*/
}

.panel-head {
    background: #033655;
    color: #fff;
    padding: 20px 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.panel-close {
    float: right;
    position: absolute;
    cursor: pointer;
    border-color: #fff;
    margin: 0;
    width: 26px;
    height: 26px;
    opacity: 0.7;
    right: 20px;
    top: 22px;
}

.panel-close:after {
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    background: #FFF;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    left: 0;
    top: 7.5px;
}

.panel-close:before {
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    background: #FFF;
    position: absolute;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    left: 0;
    top: 7.5px;
}

.panel-content {
    padding: 30px;
}

/*.panel-fadeout{*/
/*animation: .4s mask-fade-out ease-out;*/
/*}*/

/*.panel-fadeout .pop-panel{*/
/*animation: .4s panel-fade-out ease-out;*/
/*}*/

@keyframes panel-fade-in {
    from {
        transform: translate(0, -100px);
    }
    to {
        transform: translate(0, 0);
    }
}

@-moz-keyframes panel-fade-in /* Firefox */
{
    from {
        transform: translate(0, -100px);
    }
    to {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes panel-fade-in /* Safari 和 Chrome */
{
    from {
        transform: translate(0, -100px);
    }
    to {
        transform: translate(0, 0);
    }
}

@-o-keyframes panel-fade-in /* Opera */
{
    from {
        transform: translate(0, -100px);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes mask-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes mask-fade-in /* Firefox */
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes mask-fade-in /* Safari 和 Chrome */
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes mask-fade-in /* Opera */
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes panel-fade-out {
    from {
        transform: translate(0, 0);

    }
    to {
        transform: translate(0, -100px);
    }
}

@-moz-keyframes panel-fade-out /* Firefox */
{
    from {
        transform: translate(0, 0);

    }
    to {
        transform: translate(0, -100px);
    }
}

@-webkit-keyframes panel-fade-out /* Safari 和 Chrome */
{
    from {
        transform: translate(0, 0);

    }
    to {
        transform: translate(0, -100px);
    }
}

@-o-keyframes panel-fade-out /* Opera */
{
    from {
        transform: translate(0, 0);

    }
    to {
        transform: translate(0, -100px);
    }
}

@keyframes mask-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes mask-fade-out /* Firefox */
{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes mask-fade-out /* Safari 和 Chrome */
{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes mask-fade-out /* Opera */
{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotation /* Firefox */
{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotation /* Safari 和 Chrome */
{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes rotation /* Opera */
{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

